<!-- Right panel starts-->
<div class="right-panel col-11">

    <div class="category-title box-shadow col-12">
        <div class="row">
            <div class="col-8">
                <h2>Order </h2>
            </div>

        </div>
    </div>


    <div class="show-panel col-12" id="category">
        <div class="table-responsive">
            <nav aria-label="Page navigation example">
                <ul class="pagination">

                    {{#each orderPagination}}
                    <li class="page-item"><a class="page-link" href="{{this}}">{{this}}</a></li>
                    {{/each}}

                </ul>
            </nav>

            <table class="table">
                <thead>
                    <tr>
                        <th class="col-1 px-3 text-center">index</th>
                        <th>Order number</th>
                        <th>Total</th>
                        <th>Customer details</th>
                        <th>Customer Number</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each orderList}}
                    <tr>
                        <td class="col-1 px-3 text-center">{{inc @index}}</td>
                        <td>{{orderNumber}}</td>
                        <td>{{total}}</td>
                        <td>
                          {{#if this.customerId}}
                            <p>{{this.customerFirstName}} {{this.customerLastName}}</p>
                            <p>{{this.customerPhoneNumber}}</p>
                            {{else}}
                           <p>Guest</p>
                           {{/if}}
                        </td>
                        
                        <td>
                           {{#if this.customerId}}
                          {{this.customerId}}
                           {{else}}
                           <p>-</p>
                           {{/if}}
                          </td>

                        <td  class="actions"><i id="view-order" onclick="orderDetailsPopup('{{this._id}}')" class="bi bi-eye"></i>
                         <form action="/order-history/{{_id}}/delete" method="POST">
                    <button type="submit" class="delete" title="Delete"><i class="bi bi-trash"></i></button>
                    </td>
                  </form>
                    </tr>
                    {{/each}}
                </tbody>
            </table>

        </div>

    </div>



<!-- Order Details Popup -->
<div class="order-details-popup" id="orderDetailsPopup">
  
  <div id="orderDetailsContent">
    <span class="close" onclick="closeOrderDetailsPopup()">&times;</span>
  <h2>Order Details</h2>
  <div Id="popupInnerContent">

  </div>
  </div>
</div>

      </div>

<script>
 //constant   
 const viewOrderBtn = document.querySelector("#view-order");

// EVENT LISTENERS

viewOrderBtn?.addEventListener("click", () => {

  orderDetailsPopup();

 
});

//Order view : Function to close order details popup
const orderDetailsPopup = (orderId) => {
  const orderDetailsPopup = document.getElementById("orderDetailsPopup");
  orderDetailsPopup.style.display = "block";
  
  fetch(`/order-history/${orderId}`, {
    method: "get",
    headers: {
      "Content-Type": "application/json",
    }
  })
    .then(response => response.json())
    .then(orderData => {
      // Render data in the order-view popup
      renderOrderDetails(orderData);
  })
  
}

    //Order view: Function to close order details popup
const closeOrderDetailsPopup = () => {
  const orderDetailsPopup = document.getElementById("orderDetailsPopup");
  orderDetailsPopup.style.display = "none";
};

// Render order details function
const renderOrderDetails = (orderData) => {
  // Update the content of the 'popupInnerContent' div with the order details
  const orderDetailsContent = document.getElementById('popupInnerContent');

  // Clear existing content
  orderDetailsContent.innerHTML = '';

  orderDetailsContent.innerHTML = `
        <p>Order Number: ${orderData.orderNumber}</p>
        <p>Total: ${parseFloat(orderData.total).toFixed(2)}</p>
        <p> Order Date: ${orderData.date}
  `;
  
  // Check if there is customer data
  if (orderData.customerId) {
    orderDetailsContent.innerHTML += `
        <p>Customer Name: ${orderData.customerFirstName} ${orderData.customerLastName}</p>
        <p>Customer Phone Number: ${orderData.customerPhoneNumber}</p>
        <p>Customer ID: ${orderData.customerId}</p>
       
    `;
  } else {
    // If no customer data, display 'Guest'
    orderDetailsContent.innerHTML += `sa  
        <p>Customer: Guest</p>
         <p>Customer Phone Number: - </p>
          <p>Customer ID: - </p>
    `;
  }

  // Render Products
  orderData.Products.forEach(product => {
    orderDetailsContent.innerHTML += `
        <p>Product: ${product.productName}, Quantity: ${product.noItems}</p>
    `;
  });
}
  

</script>