<div class="right-panel col-11">


 <div class="category-title box-shadow p-4 col-8">
          <div class="row">
            <div class="col-8">
              <h2>category </h2>
            </div>
            
            <div class="col-2">
               <button type="button" class="btn btn-info green-button">
                <a href="/category/add-category" >Add Category</a></button>

            </div>

            <div class="col-2">
              <button type="button" class="btn btn-info green-button">
                <a href="/product/add-product" >Add Product</a></button>

                
            </div>
          </div>
        </div>


  <div class="show-panel box-shadow col-8" id="category">
    <div class="table-responsive">
      
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Image</th>
              <th>Name</th>
              <th>Parent Category</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {{#each categoryList}}
            <tr>
              <td>{{inc @index}}</td>
              <td class="category-image"><img src="{{this.imageUrl}}" /></td>
              <td>{{this.categoryName}}</td>
              <td>{{this.parentCategory.categoryName}}</td>
              <td>
                <form action="/category/{{_id}}/edit" method="GET">
                  <button type="submit" class="edit" title="Edit"><i class="material-icons">&#xE254;</i></button>
                </form>
                <form action="/category/{{_id}}/delete" method="POST">
                  <button type="submit" class="delete" title="Delete"><i class="material-icons">&#xE872;</i></button>
                </form>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
     
    </div>
  </div>
</div>
