<div class="right-panel col-11">


  <div class="category-title box-shadow">
          <div class="row">
            <div class="col-8">
              <h2> Categories </h2>
            </div>

            <div class="col-2">
               <button type="button" class="category-buttons">
                <a href="/category/add-category" class="add-cat-button" >Add Category</a></button>

            </div>

            <div class="col-2">
              <button type="button" class="category-buttons" >
                <a href="/product/add-product" class="add-product-button">Add Product</a></button>


            </div>
          </div>
        </div>


  <div class="show-panel box-shadow" id="category">
    <div class="table-responsive">
      <nav aria-label="Page navigation example">
  <ul class="pagination">

    {{#each categoryPagination}}
    <li class="page-item"><a class="page-link" href="{{this}}">{{this}}</a></li>
    {{/each}}

  </ul>
</nav>

        <table class="table">
          <thead>
            <tr>
              <th  class="col-1 px-3 text-center">ID</th>
              <th>Image</th>
              <th>Name</th>
              <th>Parent Category</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {{#each categoryList}}
            <tr>
              <td class="col-1 px-3 text-center">{{inc @index}}</td>
              <td class="category-image"><img src="{{this.imageUrl}}" /></td>
              <td>{{this.categoryName}}</td>
              <td>{{this.parentCategory.categoryName}}</td>
              <td>
                <form action="/category/{{_id}}/edit" method="GET">
                  <button type="submit" class="edit" title="Edit"><i class="bi bi-pencil-square"></i></button>
                </form>
                <form action="/category/{{_id}}/delete" method="POST">
                  <button type="submit" class="delete" title="Delete"><i class="bi bi-trash"></i></button>
                </form>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>

    </div>
  </div>
</div>
